<?xml version="1.0" encoding="utf-8"?>
<!-- For HTML5 configuration details and recommendations, see https://github.com/h5bp/server-configs/wiki/web.config -->
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".ttml" />
			<mimeMap fileExtension=".ttml" mimeType="text/xml" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
	</system.webServer>
</configuration>